# general:
*.o
*.lo
*.moc.cpp
.memo
.stats
tmp/
.deps/
.libs/
Makefile
Makefile.in

# autoconf/automake stuff:
aclocal.m4
ar-lib
autom4te.cache/
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
stamp-h1
test-driver
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub

# local stuff:
geany-*


doc/aux/
doc/html/
doc/latex/
doc/man/
doc/Makefile
doc/Makefile.in
doc/libGPGeo.dox.log
docs/UserGuides/archive/





